
@CHARSET "UTF-8";
html, body {
	margin-left: 20px;
	border : 0;
	padding : 0;
	width : 100%;
	height : 100%;
}
#tablecontainer{
	width: 300px;
	border : solid  1px gray;
}
#table{
	width : 100%;
	background-color: #f7f7f7;
}
#tablecontainer td{
	padding : 2px;
	border : solid  1px gray;
	text-align : center;
}
#tablecontainer th{
	padding : 3px;
	border : solid  1px gray;
	background-color :#b6b6b6;
	text-align : center;
}
#buttonContainer{
	margin-top: 5px;
	width: 80px;
}
#addNew{

	width: 70px;
	float: left;
	margin-top:5px;

}
#search{
	width: 70px;
	float: left;
	margin-top: 5px;
}

#refresh{
	margin-top: 5px;
	width:150px;
}

.toEmpList{
	width: 150px;
	margin-top: 5px;
}
#header{
	height:40px;
	width: 700px;
	float: left;
	border : solid  1px gray;
}
.headermenu{
	float: right;
	margin: 7px;
}
#loginChange{
	float: right;
	margin: 7px;
}
#contentcontainer{
	clear:left;
}
#LoginEmpName{
	margin: 7px;
}
.change{
	background-color: #e1e1e1;
}
.delete{
	background-color: #FFBBBB;
}